In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import google_maps_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pierre,US,2022-03-09 20:08:23,44.3683,-100.3510,27.05,53,100,14.97
1,1,Asau,RO,2022-03-09 20:12:08,46.4333,26.4000,24.76,89,91,3.80
2,2,Sawtell,AU,2022-03-09 20:12:09,-30.3833,153.1000,66.22,72,8,12.66
3,3,San Jose De Guanipa,VE,2022-03-09 20:12:09,8.8872,-64.1651,85.35,48,99,10.49
4,4,Mataura,NZ,2022-03-09 20:12:10,-46.1927,168.8643,54.48,93,100,2.86

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_maps_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,San Jose De Guanipa,VE,2022-03-09 20:12:09,8.8872,-64.1651,85.35,48,99,10.49
6,6,Rikitea,PF,2022-03-09 20:11:47,-23.1203,-134.9692,78.67,70,52,5.99
7,7,Isangel,VU,2022-03-09 20:12:11,-19.5500,169.2667,79.70,80,1,5.64
12,12,Avarua,CK,2022-03-09 20:11:06,-21.2078,-159.7750,78.85,94,100,5.75
18,18,Honiara,SB,2022-03-09 20:09:14,-9.4333,159.9500,78.48,85,95,1.68
19,19,Denpasar,ID,2022-03-09 20:12:12,-8.6500,115.2167,78.46,100,40,3.44
23,23,Belmonte,BR,2022-03-09 20:12:18,-15.8631,-38.8828,79.30,69,7,7.27
24,24,Kavieng,PG,2022-03-09 20:12:19,-2.5744,150.7967,81.18,73,100,5.21
28,28,Butterworth,MY,2022-03-09 20:12:21,5.3991,100.3638,80.64,89,20,3.44
34,34,Benguela,AO,2022-03-09 20:12:25,-12.5763,13.4055,78.46,80,94,6.91

In [11]:
preferred_cities_df.count()

City_ID       189
City          189
Country       188
Date          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
3   San Jose De Guanipa      VE     85.35   8.8872  -64.1651
6               Rikitea      PF     78.67 -23.1203 -134.9692
7               Isangel      VU     79.70 -19.5500  169.2667
12               Avarua      CK     78.85 -21.2078 -159.7750
18              Honiara      SB     78.48  -9.4333  159.9500
19             Denpasar      ID     78.46  -8.6500  115.2167
23             Belmonte      BR     79.30 -15.8631  -38.8828
24              Kavieng      PG     81.18  -2.5744  150.7967
28          Butterworth      MY     80.64   5.3991  100.3638
34             Benguela      AO     78.46 -12.5763   13.4055

In [18]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": google_maps_key,
    "location": "48.8566, 2.3522"}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [21]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,San Jose De Guanipa,VE,85.35,8.8872,-64.1651,HOTEL 283 SUITES
6,Rikitea,PF,78.67,-23.1203,-134.9692,People ThankYou
7,Isangel,VU,79.70,-19.5500,169.2667,Tanna Lodge
12,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
18,Honiara,SB,78.48,-9.4333,159.9500,Heritage Park Hotel
...,...,...,...,...,...,...
573,Saint-Joseph,RE,79.18,-21.3667,55.6167,
574,Acari,PE,83.19,-15.4311,-74.6158,
576,Dom Pedrito,BR,82.78,-30.9828,-54.6731,
589,Bara,NG,87.55,10.3744,10.7288,
590,Mapiripan,CO,87.49,2.8892,-72.1256,Monserrate

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))